/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

:root{
    --rosado-oscuro: #DC3C8B;
    --fondo-oscuro: #180826;
    --morado: #8040BF;
    --rosado-claro: #FDEBEE;
    --rosado-claro-fuentes: #FDB3BC;
    --rosado-mediano: #FD6499;
    --burdeo: #661A36;
}

.btn{
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    color: var(--fondo-oscuro);
    font-weight: bold;
}

.btn-rosado{
    background: var(--rosado-mediano);
    border: 3px solid var(--rosado-mediano);
}

.btn-claro{
    background: var(--rosado-claro);
    border: 3px solid var(--rosado-mediano);
    color: var(--rosado-mediano);
}

.btn-rosado-claro{
    background: var(--rosado-claro-fuentes);
    border: 3px solid var(--rosado-claro-fuentes);
}