/* Secciones */
section {
    min-height: 100vh;
    padding: 80px 100px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--rosado-claro);
}



.title-section {
    font-size: 2.5rem;
}

/* Colores de secciones */
#portada {
    background-color: #f1f1f1;
}

#portada h1 {
    color: var(--rosado-claro-fuentes);
    font-size: 5rem;
    margin-bottom: 30px;
}

/*------------------------------------------ seccion 1 ------------------------------------------*/

#seccion1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-seccion1 {
    display: flex;
    justify-content: center;
    width: 1000px;
    gap: 50px;
}

.izquierda {
    flex: 1;

}

.descripcion-texto-seccion1 {
    text-align: left;
}

.texto1-seccion1 {
    margin-bottom: 20px;
}

.derecha {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-imagen-seccion1 {
    border: 5px solid var(--rosado-mediano);
    border-radius: 15px;
    height: auto;
}

.derecha img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 13px solid var(--rosado-claro-fuentes);
    border-radius: 10px;
}

.title-seccion1 {
    text-align: left;
}

.title-seccion1 span {
    color: var(--rosado-claro-fuentes);
}

.sub-title-seccion1 {
    color: var(--rosado-claro-fuentes);
    text-align: left;
    margin: 10px 0 20px 0;
}

.texto-seccion1 {
    text-align: left;
}

.items-descripcion {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-card {
    display: flex;
    gap: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    align-items: center;
    border-radius: 15px;
}

.item-card i {
    color: var(--rosado-mediano);
}

.button-container-seccion1 {
    display: flex;
    justify-content: center;
    gap: 20px;

}

/*--modal--*/
/* Fondo oscuro que cubre toda la pantalla */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    /* aplica el desenfoque */
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

/* Mostrar el modal */
.modal.show {
    opacity: 1;
    visibility: visible;
}

/* Contenido del modal */
.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    border: 2px solid var(--rosado-mediano);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
    animation: fadeInUp 0.4s ease;
    text-align: left;
}

.header-modal1 {
    margin-bottom: 20px;
}

.header-modal1 h2 {
    color: var(--rosado-claro-fuentes);
}

.contenido-modal1 p {
    padding: 0;
    margin: 10px 0;
}

.contenido-modal1 span {
    font-weight: bold;
    color: var(--fondo-oscuro);
}

.footer-modal1 {
    margin-top: 30px;
    text-align: right;
}

/* Animación de entrada */
@keyframes fadeInUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/*------------------------------------------ seccion 2 ------------------------------------------*/

#seccion2 {
    background-color: var(--fondo-oscuro) !important;
    border-top: 5px solid var(--morado);
    border-bottom: 5px solid var(--morado);
    color: white;
}

.contenido-seccion2 {
    display: flex;
    flex-direction: column;
    width: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contenedor-icono-seccion2 {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--burdeo);
    border-radius: 50%;
    font-size: 5rem;
    color: var(--morado);
    margin-bottom: 40px;
}

.titulo-seccion2 {
    color: var(--rosado-mediano);
    margin-bottom: 20px;
}

.titulo-seccion2 span {
    color: var(--morado);
}

.texto1-seccion2 {
    font-style: italic;
    margin-bottom: 20px;
}

.texto2-seccion2 {
    margin-bottom: 20px;
}

/*------------------------------------------ seccion 3 ------------------------------------------*/


#seccion3 {
    justify-content: center;
    text-align: center;
    background-color: #fff;
}

.contenido-seccion3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.fila {
    width: 100%;
    display: flex;
    gap: 50px;
}

.izquierda-seccion3 {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    /* <-- NECESARIO */
    align-items: center;
    /* centra verticalmente */
    justify-content: center;
    /* centra horizontalmente (si quieres) */
    text-align: left;
    /* opcional, para el texto */
}

.content-seccion3 {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 50px;
}


.derecha-seccion3 {
    flex: 1;
}

.header-seccion3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 650px;
}

.contenedor-icono-header3 {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--rosado-claro);
    border-radius: 50%;
    font-size: 4.2rem;
    color: var(--rosado-mediano);
    margin-bottom: 40px;
}

.titulo-seccion3 {
    margin-bottom: 20px;
}

.titulo-seccion3 span {
    color: var(--rosado-claro-fuentes);
}

.header-fila-seccion3 {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}

.icono-fila {
    background-color: var(--rosado-claro);
    color: var(--rosado-mediano);
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
}

.parrafo1-fila-seccion3,
.parrafo2-fila-seccion3 {
    margin: 20px 0;
}

.sabermas-fila-seccion3 {
    margin-top: 20px;
    width: 100%;
}

.izquierda-seccion3 a {
    cursor: pointer;
    text-decoration: none;
    color: var(--rosado-mediano);
    font-weight: bold;
}

.contenedor-img-fila-seccion3 {
    border: 4px solid var(--rosado-mediano);
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
}

.contenedor-img-fila-seccion3 img {
    width: 100%;
}

.footer-seccion3 {
    margin: 100px 0;
}

/*------------------------------------------ seccion 4 ------------------------------------------*/

#seccion4 {
    background-color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contenido-seccion4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    width: 1000px;
}

.content-seccion4 {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header-seccion4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 750px;
}

.contenedor-icono-header4 {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--rosado-claro);
    border-radius: 50%;
    font-size: 4.2rem;
    color: var(--rosado-mediano);
    margin-bottom: 40px;
}

.titulo-seccion4 {
    margin-bottom: 20px;
}

.titulo-seccion4 span {
    color: var(--rosado-claro-fuentes);
}


.header-fila-seccion4 {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}

.header-fila-seccion4 h3 {
    font-size: 1.5rem;
}

.fila-seccion4 {
    display: flex;
    gap: 30px;
}

.izquierda-seccion4 {
    flex: 1;
}

.derecha-seccion4 {
    flex: 1.5;
}

.contenedor-img-fila4 {
    border: 4px solid var(--rosado-mediano);
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
}

.contenedor-img-fila4 img {
    width: 100%;
}


.header-fila-seccion4 {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.icono-fila-seccion4 {
    background-color: var(--rosado-claro);
    color: var(--rosado-mediano);
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
}

.textoseccion4 {
    text-align: left;
    margin-bottom: 20px;
}

.cita {
    background-color: var(--rosado-claro);
    border-left: 3px solid var(--rosado-mediano);
    padding: 10px 20px;
    text-align: left;
    font-style: italic;
    font-weight: bold;
}

.sabermas-fila-seccion4 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    color: var(--rosado-mediano);
    cursor: pointer;
}

.footer-seccion4 {
    background-color: var(--rosado-claro);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid var(--rosado-mediano);
}

.footer-seccion4 i {
    font-size: 3rem;
    color: var(--rosado-mediano);
    margin-bottom: 20px;
}

.contenido-footer4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-footer4 h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contenido-footer4 p {
    width: 60%;
}

/*------------------------------------------ seccion 5 ------------------------------------------*/




.contenido-seccion5 {
    backdrop-filter: blur(8px);
    /* aplica el desenfoque */
    -webkit-backdrop-filter: blur(8px);
    width: 70%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 20px;
}

.header-seccion5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.titulo-seccion5 {
    display: flex;
    gap: 20px;
}

.titulo-seccion5 span {
    color: var(--rosado-claro-fuentes);
}

.icono-seccion5 {
    color: var(--rosado-mediano);
}

.descripcion-seccion5 {
    width: 80%;
}

.parrilla-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}

.card-container {
    text-align: center;
}

.photo-frame {
    position: relative;
    display: inline-block;
    border: 5px solid var(--rosado-mediano);
    /* borde rosa oscuro */
    border-radius: 20px;
    padding: 12px;
    background: var(--rosado-claro-fuentes);
    /* rosa claro */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.photo-frame img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.card-icon {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: var(--rosado-claro-fuentes);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--fondo-oscuro);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.name {
    font-weight: bold;
    margin-top: 10px;
    color: var(--fondo-oscuro);
}

.role {
    font-size: 14px;
    color: var(--fondo-oscuro);
}

.photo-frame2 {
    position: relative;
    display: inline-block;
    border: 5px dotted var(--burdeo);
    /* borde rosa oscuro */
    border-radius: 50%;
    padding: 10px;
    background: white;
    /* rosa claro */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.photo-frame2 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.card-icon2 {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: var(--rosado-mediano);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--fondo-oscuro);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/*------------------------------------------ seccion 6 ------------------------------------------*/


#seccion6 {
    background-color: #ffebee;
}

.contenido-seccion6 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion-seccion6 {
    width: 60%;
}

.contenedor-icono-seccion6 {
    font-size: 3rem;
    color: var(--rosado-mediano);
    margin-bottom: 40px;
}

.titulo-seccion6 span {
    color: var(--rosado-claro-fuentes);
}

.subtitle-seccion6 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 40px 0 20px 0;
}

.subtitle-seccion6 i {
    color: var(--rosado-claro-fuentes);
}

.texto-seccion6 {
    text-align: left;
    color: var(--fondo-oscuro);
}

.group-cards {
    display: flex;
    margin-top: 100px;
    width: 80%;
    gap: 50px;
}

.card-section6 {
    flex: 1;
}

.contenedor-icono-cards {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--rosado-claro-fuentes);
}

.btn-seccion6 {
    margin: 60px 0;
}

.icono-footer-seccion6 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--rosado-mediano);
}

.footer-seccion6 h3{
    margin-bottom: 15px;
}
.footer-seccion6{
    width: 50%;
    margin-bottom: 50px;
}

/*------------------------------------------ footer ------------------------------------------*/

.contenedor-footer{
    display: flex;
    padding: 30px 50px;
}

.seccion-footer {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.header-footer1 {
    display: flex;
    gap: 10px;
    align-items: center;
}
.header-footer1 i {
    color: var(--rosado-mediano);
}

.seccion-footer1{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.seccion-footer ul {
    list-style: none;
    padding: 0;
}

.seccion-footer h3{
    margin-bottom: 15px;
}
.seccion-footer li {
    margin: 10px 0;
}

.seccion-footer a {
    text-decoration: none;
    color: var(--fondo-oscuro);


}

.seccion-footer3 ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}


.seccion-footer3 a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--fondo-oscuro);
    background-color: var(--rosado-claro-fuentes);
    height: 60px;
    width: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.seccion-footer3 a:hover {
    background-color: var(--rosado-mediano);
}

.footer-texto{
    font-size: 0.9rem;
    border-top: 2px solid var(--rosado-claro);
    padding: 20px;
    text-align: center;
}